{% extends "base.html" %}
{% block title %}Pozdrav{% endblock title %}
{% block pozdrav %}

    <h1>Pozdravljeni v spletni knjigi gostov</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra commodo enim at posuere.
    Proin fermentum eget ligula cursus cursus. Etiam ullamcorper cursus urna, ac consectetur augue
    aliquet mollis. Fusce malesuada ipsum a ipsum molestie luctus. Pellentesque sed dui ac erat laoreet
    tempus. Vivamus maximus eros eros, sed aliquam massa vehicula a. Maecenas turpis erat, congue at aliquet
    ut, aliquam in sapien. Integer vulputate tellus magna, et varius nibh malesuada vel. Proin ultricies
    id lectus vel viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos. Praesent malesuada, sem et semper convallis, turpis lacus efficitur dui, at
    vulputate sem est sed mauris. Fusce sagittis suscipit est, accumsan ultricies lectus mollis sit
    amet. Duis condimentum, purus commodo blandit porta, felis risus consequat nisi, eu viverra nulla
    arcu ut risus. Fusce tempor vel elit nec ullamcorper.</p>

{% endblock pozdrav %}